<!doctype html>
<title>Hello from Flask</title>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="wrapper">
    <div class="form">
        <form>
            <select name="author">
                <option value="Wilde">Oscar Wilde</option>
                <option value="Frost">Robert Frost</option>
                <option value="Kaur">Rupi Kaur</option>
                <option value="Eliot">T.S. Eliot</option>
                <option value="Shakespeare">William Shakespeare</option>
            </select>

            <div class="form-label">
                Enter a seed string: 
            </div>
            <input type="text" name="seed">
            <input type="submit">
        </form>
    </div>

    {% if poem %}
    <div class="poem">
        <div class="poem-title">
            Here's what <i>{{ author }}</i> came up with for you....  <br>
        </div>

        <div class="poem-lines">
            {% for line in poem %}
                <div class="poem-line">{{ line }} <br><br> </div>
            {% endfor %}
        </div>   
    </div>
    {% endif %}
</body>